node_modules
public/hot
public/storage
vendor/*
.idea
.vscode
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
vendor/autoload.php
storage/framework/sessions/9rxsxdo6uuGnxZvl7XEi4l7zGavA7A26dozQGWhm
